$main-color: #006A5F;
$accent-color: #1E9387;

:root {
    --graph-background-1: rgba(10, 128, 115, 0.5);
    --graph-background-2: rgba(206, 97, 16, 0.5);
    --graph-background-3: rgba(23, 63, 137, 0.5);
    --graph-background-4: rgba(206, 139, 16, 0.5);
    --graph-border-1: rgba(0, 106, 95, 0.5);
    --graph-border-2: rgba(171, 73, 0, 0.5);
    --graph-border-3: rgba(23, 63, 137, 0.5);
    --graph-border-4: rgba(171, 111, 0, 0.5);
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #DDDDDD;
    padding-bottom: 2em;
}

.app-container {
    height: 100%;
    width: 95%;
    margin-left: 5%;
    padding: 1em;
    position: fixed;
    overflow: hidden;
    overflow-y: auto;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
    margin-bottom: 0 !important;
}

.panel-flex {
    display: flex;
    flex-direction: column;

    .body {
        flex-grow: 1;
        margin-bottom: 0;
    }
}

.thumbnail {
    padding: 0;

    .footer {
        height: 0.3em;
        width: 100%;
        background: $main-color;
    }
}

/* Barra de navegación */
.sidebar {
    background: $main-color !important;
    border: none;
    position: fixed;
    height: 100%;
    width: 5%;

    .btn {
        width: 100%;
        font-size: 1.5em;
        color: white;
        padding-left: 0;
        padding-right: 0;

        .text {
            font-size: 0.5em;
        }
    }

    .btn:hover {
        background: $accent-color !important;
        color: white !important;
    }

    .btn.active {
        background: $accent-color !important;
        color: white !important;
        box-shadow: none;
    }
}

/* Paneles */
.panel-heading {
    background: $accent-color !important;

    h1, h2, h3, h4, label {
        color: white;
    }
}

.meter {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.tweet-heading {
    padding: 1em;
    background: $accent-color !important;
    display: flex;
    flex-direction: column;
    color: white;

    .title {
        display: flex;
        align-items: flex-start;
        margin-bottom: 0.25em;
        font-weight: bold !important;
        font-size: 1.4em;
        height: 1.4em;

        .img {
            padding: 0;
            margin-right: 0.75em;
            height: 100%;
        }
    }
    .tweet-date {
        color: white !important;
        font-size: 0.8em;
        text-align: right;
    }
}

.panel-body {
    border-bottom: 1px solid #EEEEEE;
    display: flex;
    align-items: flex-start;

    .badge {
        margin-right: 0.5em;
    }
    .accidente {
        background: #C91818;
    }
    .congestion {
        background: #C9BA18;
    }
    .desvio {
        background: #C96B18;
    }
    .semaforos {
        background: #226666;
    }

    .reports-heading {
        display: flex;
        align-items: flex-start;

        .report-item {
            margin-right: 1em;
        }
    }
    .report-empty {
        width: 100%;
        text-align: center;
    }
}

.tweet-footer {
    background: #CFCFCF !important;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    font-size: 0.8em;
    justify-content: space-between;
}

.alert {
    color: #777777;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.date-header {
    color: #777777;
    border-bottom: 1px solid #777777;
    padding-bottom: 0.25em;
    margin-bottom: 1em;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 15vw;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.charts {
    .dates-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .picker {
            width: 10vw;
        }
    }

    .horizontal {
        display: flex;
        flex-direction: row;
        align-items: center;

        label {
            margin-right: 1em;
        }
    }

    .chart {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }
}

.column {
    height: 100% !important;
    display: flex;
    flex-direction: column;

    .bottom {
        margin-bottom: 0;
    }

    .causes {
        display: inline-flex;
        flex-direction: column;
    }
}

.link {
    stroke: #005A32;
    stroke-width: 0.15em;
}
.label {
    fill: black;
}
.node-label {
    stroke: white;
    width: 1em !important;
}
.current {
    stroke: #79100F;
    stroke-width: 0.3em;
}
.occurrence {
    fill: #DD1C1A;
}
.commune {
    fill: #29BF12;
}
.user {
    fill: #FF9914;
}

.node-info {
    position: absolute;
    margin: 1em;
}

/* Otros elementos */
a {
    color: $main-color;
}

a:hover {
    color: $accent-color;
}

.thumbnail {
    background: #EEEEEE !important;
}

.img-circle {
    padding: 1em;
}

/* Material Checkbox */
.checkbox label {
    padding-left: 24px;
}
  
input[type="checkbox"] {
    display: none;
}
    
input[type="checkbox"] + .box:before,
input[type="checkbox"] + .box:after {
    transition: all .3s;
}
    
input[type="checkbox"] + .box:after {
    position: absolute;
    left: 4px;
    top: 3px;
    margin-top: -5px;
    margin-left: -4px;
    display: inline-block;
    content: ' ';
    width: 20px;
    height: 20px;
    border: 2px solid #999;
    border-radius: 2px;
    background-color: #fff;
    z-index: 1000;
}
    
input[type="checkbox"]:checked + .box:after {
    background-color: $main-color;
    border-color: $main-color;
}
    
input[type="checkbox"]:checked + .box:before {
    transform: rotate(45deg);
    position: absolute;
    left: 7px;
    top: 0px;
    width: 6px;
    height: 13px;
    border-width: 2px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-color: #fff;
    content: '';
    z-index: 10000;
}

/* Vue transitions */
/* Fade */
.fade-enter-active, .fade-leave-active {
    transition: opacity .3s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0
}

/* Slide-fade */
.slide-fade-enter-active {
    transition: all .2s ease;
}
.slide-fade-leave-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}

.item-move {
    /* applied to the element when moving */
    transition: transform .5s cubic-bezier(.55,0,.1,1);
}
